@import url("https://fonts.googleapis.com/css?family=Shrikhand");
:root {
  /* Greens */
  --hlt-grn: #cee6ce;
  /* Purples */
  --bck-prp: #0a000d;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: calc(5vw + 40px);
  font-family: "Shrikhand", "Georgia", sans-serif;
}

body {
  background: var(--bck-prp);
  margin: 0;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(250px, 1fr);
      grid-template-columns: minmax(250px, 1fr);
  margin: 10vw;
}

p {
  padding: 0;
  color: var(--hlt-grn);
  text-align: right;
}
/*# sourceMappingURL=index.css.map */